# Exploración DataSet

## Analisis de [Kaggle Dataset](https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020/data) De la Formula 1 desde sus inicios en 1950 hasta la temporada 2023.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración para que las figuras de Matplotlib aparezcan en el notebook
%matplotlib inline

---

### Carguemos los dataset:

In [2]:
ruta_directorio = '../raw_data/'
nombres_archivos = [archivo for archivo in os.listdir(ruta_directorio) if archivo.endswith('.csv')]
nombres_archivos

['qualifying.csv',
 'constructors.csv',
 'circuits.csv',
 'results.csv',
 'constructor_standings.csv',
 'driver_standings.csv',
 'races.csv',
 'constructor_results.csv',
 'drivers.csv',
 'status.csv',
 'sprint_results.csv',
 'lap_times.csv',
 'seasons.csv',
 'pit_stops.csv']

In [3]:
dataframes = {}

for nombre_archivo in nombres_archivos:
    ruta_completa = os.path.join(ruta_directorio, nombre_archivo)
    qualifying_df = nombre_archivo.replace('.csv', '')
    dataframes[qualifying_df] = pd.read_csv(ruta_completa)

In [5]:
claves = dataframes.keys()
claves

dict_keys(['qualifying', 'constructors', 'circuits', 'results', 'constructor_standings', 'driver_standings', 'races', 'constructor_results', 'drivers', 'status', 'sprint_results', 'lap_times', 'seasons', 'pit_stops'])

In [6]:
lista_claves = list(claves)
lista_claves

['qualifying',
 'constructors',
 'circuits',
 'results',
 'constructor_standings',
 'driver_standings',
 'races',
 'constructor_results',
 'drivers',
 'status',
 'sprint_results',
 'lap_times',
 'seasons',
 'pit_stops']

---
### Construcción de DataFrames

In [9]:
pit_stops_df = dataframes['pit_stops'] 
qualifying_df = dataframes['qualifying']
constructors_df = dataframes['constructors']
circuits_df = dataframes['circuits']
results_df = dataframes['results']
constructor_standings_df = dataframes['constructor_standings']
driver_standings_df = dataframes['driver_standings']
constructor_results_df = dataframes['constructor_results']
drivers_df = dataframes['drivers']
status_df = dataframes['status']
sprint_results_df = dataframes['sprint_results']
lap_times_df = dataframes['lap_times']
seasons_df = dataframes['seasons']
races_df = dataframes['races']

In [79]:
qualifying_df.shape

(9815, 9)

In [80]:
qualifying_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9815 entries, 0 to 9814
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9815 non-null   int64
 1   raceId         9815 non-null   int64
 2   driverId       9815 non-null   int64
 3   constructorId  9815 non-null   int64
 4   number         9815 non-null   int64
 5   position       9815 non-null   int64
 6   q1             9807 non-null   object
 7   q2             9651 non-null   object
 8   q3             9488 non-null   object
dtypes: int64(6), object(3)
memory usage: 690.2+ KB

In [81]:
qualifying_df.describe()

,qualifyId,raceId,driverId,constructorId,number,position
count,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000,9815.000000
mean,4920.076108,589.809985,314.514519,44.783597,18.114519,11.244931
std,2847.637640,421.207023,381.264736,70.843628,17.859565,6.290625
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
25%,2455.500000,119.500000,16.000000,4.000000,7.000000,6.000000
50%,4910.000000,856.000000,50.000000,9.000000,14.000000,11.000000
75%,7383.500000,981.000000,818.000000,28.000000,22.000000,17.000000
max,9872.000000,1110.000000,858.000000,214.000000,99.000000,28.000000

In [82]:
qualifying_df

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
9810,9868,1110,848,3,23,16,2:00.314,\N,\N
9811,9869,1110,855,51,24,17,2:00.832,\N,\N
9812,9870,1110,858,3,2,18,2:01.535,\N,\N
9813,9871,1110,817,213,3,19,2:02.159,\N,\N
9814,9872,1110,807,210,27,20,2:03.166,\N,\N